.page {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  min-width: 1190px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #2A2C2F;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .page {
    min-width: 928px;
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    min-width: 768px;
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    min-width: 320px;
    max-width: 320px;
  }
}
