.lang__link {
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  line-height: 1.7;
}

.lang__link:hover {
  border-bottom: solid #fff 2px;
}

@media screen and (max-width: 320px) {
  .lang__link {
  font-size: 18px;
  line-height: 1.11;
  }
}
