.lead__image {
  max-width: 984px;
  min-height: 615px;
  margin-top: 64px;
}
@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 100%;
    min-height: 100%;
    margin-top: 56px;
  }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .lead__image {
    margin-top: 40px;
  }
}
